@using ASPNETIdentityWithOnion.Core.DomainModels
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    
</div>
    @foreach (var product in Model)
    {
        <p style="float:left;margin: 20px;">
            <span>@product.Name</span>
        </p>
    }
